[
  {
    :subject #uuid "0a456bfa-d111-4092-85b4-5bb0bf2238d9"
    :predicate :favorite-foods
    :object "Pizza"
  }
  {
    :subject #uuid "0a456bfa-d111-4092-85b4-5bb0bf2238d9"
    :predicate :name
    :object "Mark"
  }
  {
    :subject #uuid "605d8314-3897-45b1-8d4b-01e89cd84b49"
    :predicate :name
    :object "Luke"
  }
  {
    :subject #uuid "0a456bfa-d111-4092-85b4-5bb0bf2238d9"
    :predicate :favorite-foods
    :object "Butter Chicken"
  }
  {
    :subject #uuid "0a456bfa-d111-4092-85b4-5bb0bf2238d9"
    :predicate :favorite-foods
    :object "Toast with Peanut Butter"
  }
  {
    :subject #uuid "605d8314-3897-45b1-8d4b-01e89cd84b49"
    :predicate :favorite-foods
    :object "Pizza"
  }
  {
    :subject #uuid "0a456bfa-d111-4092-85b4-5bb0bf2238d9"
    :predicate :favorite-band
    :object "Iron Maiden"
  }
  {
    :subject #uuid "605d8314-3897-45b1-8d4b-01e89cd84b49"
    :predicate :favorite-foods
    :object "Ceaser Salad"
  }
  {
    :subject #uuid "0a456bfa-d111-4092-85b4-5bb0bf2238d9"
    :predicate :phone
    :object "(306) 987-6543"
  }
  {
    :subject #uuid "605d8314-3897-45b1-8d4b-01e89cd84b49"
    :predicate :favorite-band
    :object "Foo Fighters"
  }
  {
    :subject #uuid "0a456bfa-d111-4092-85b4-5bb0bf2238d9"
    :predicate :job
    :object "Software Developer"
  }
  {
    :subject #uuid "605d8314-3897-45b1-8d4b-01e89cd84b49"
    :predicate :job
    :object "Goat Farmer"
  }
  {
    :subject #uuid "0a456bfa-d111-4092-85b4-5bb0bf2238d9"
    :predicate :favorite-books
    :object "Money by Martin Amis"
  }
  {
    :subject #uuid "0a456bfa-d111-4092-85b4-5bb0bf2238d9"
    :predicate :city
    :object "Saskatoon"
  }
  {
    :subject #uuid "0a456bfa-d111-4092-85b4-5bb0bf2238d9"
    :predicate :postal
    :object "XYZ 777"
  }
  {
    :subject #uuid "0a456bfa-d111-4092-85b4-5bb0bf2238d9"
    :predicate :favorite-books
    :object "Sharp Objects by Gillian Flynn"
  }
  {
    :subject #uuid "0a456bfa-d111-4092-85b4-5bb0bf2238d9"
    :predicate :favorite-books
    :object "Saturday by Ian McEwan"
  }
  {
    :subject #uuid "0a456bfa-d111-4092-85b4-5bb0bf2238d9"
    :predicate :favorite-books
    :object "Game of Thrones by George R. R. Martin"
  }
  {
    :subject #uuid "605d8314-3897-45b1-8d4b-01e89cd84b49"
    :predicate :phone
    :object "(306) 123-4567"
  }
  {
    :subject #uuid "605d8314-3897-45b1-8d4b-01e89cd84b49"
    :predicate :postal
    :object "ABC 123"
  }
  {
    :subject #uuid "605d8314-3897-45b1-8d4b-01e89cd84b49"
    :predicate :street
    :object "123 Fake Street"
  }
  {
    :subject #uuid "605d8314-3897-45b1-8d4b-01e89cd84b49"
    :predicate :city
    :object "Gotham"
  }
  {
    :subject #uuid "7ca71fe2-b5a7-43e4-81fd-219ad9bb6e70"
    :predicate :name
    :object "Matthew"
  }
  {
    :subject #uuid "7ca71fe2-b5a7-43e4-81fd-219ad9bb6e70"
    :predicate :job
    :object "Shepard"
  }
  {
    :subject #uuid "7ca71fe2-b5a7-43e4-81fd-219ad9bb6e70"
    :predicate :motto
    :object "You can't draw blood from a stone."
  }
]
